{% extends "base.html" %}
{% block content %}

<h3>Add New Intern</h3>

<div class="card p-3 shadow">

  <form method="POST">

    <label>Full Name</label>
    <input name="full_name" class="form-control mb-3" required>

    <label>Username</label>
    <input name="username" class="form-control mb-3" required>

    <label>Password</label>
    <input name="password" type="password" class="form-control mb-3" required>

    <button class="btn btn-success w-100">Add Intern</button>

  </form>

</div>

{% endblock %}
